.text-display {
  font-family: var(--font-heading);
  font-size: var(--text-display);
  line-height: var(--text-display--line-height);
}

.text-h1 {
  font-family: var(--text-h1-font-family);
  font-size: var(--text-h1);
  line-height: var(--text-h1--line-height);
  /* @apply font-extrabold; */
 
}

.text-h2 {
  font-family: var(--text-h2-font-family);
  font-size: var(--text-h2);
  line-height: var(--text-h2--line-height);
  /* @apply font-extrabold; */

}

.text-h3 {
  font-family: var(--text-h3-font-family);
  font-size: var(--text-h3);
  line-height: var(--text-h3--line-height);
  /* @apply font-extrabold; */
}

.text-h4 {
  font-family: var(--text-h4-font-family);
  font-size: var(--text-h4);
  line-height: var(--text-h4--line-height);
  /* @apply font-extrabold; */
}

.text-h5 {
  font-family: var(--text-h5-font-family);
  font-size: var(--text-h5);
  line-height: var(--text-h5--line-height);
  /* @apply font-bold; */
}

.text-h6 {
  font-family: var(--text-h6-font-family);
  font-size: var(--text-h6);
  line-height: var(--text-h6--line-height);
  /* @apply font-semibold; */
}

.text-base {
  font-size: var(--text-base);
  line-height: var(--text-base--line-height);}

.text-sm {
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
  font-weight: var(--text-sm-weight);
}

.text-xs {
  font-size: var(--text-xs);
  line-height: var(--text-xs--line-height);
  font-weight: var(--text-xs-weight);
}


 

